$mainColor: #131149;
$textColor: #b8bac9;
$textColor2: #cecfdf;
$titleColor: #595b6a;
$sectionBackground: #f5f3f7;
$boxShadow: 0 10px 18px rgba(#535399, .1);
$insetBoxShadow: inset 0 10px 18px rgba(#535399, .07);

$green: #0deec2;
$purple: #7581e5;
$reciveColor: #24f69a;

$borderRadius: 5px;
$skyblue: #20add0;
